{{> header}}

<h4> About </h4>

<h5> このアプリは？ </h5>
    <p>
        楽天で売れ行きがよい本を拾い上げるアプリです。
    </p>

<h5> 仕様 </h5>
    <p>
        <a href="https://webservice.rakuten.co.jp/documentation/books-book-search">
        楽天ブックス書籍API
        </a>でsort=sales（売れている順にソート）を指定したときに返されるもので、
        コミックを除いて（楽天ブックス書籍APIにおいてbooksGenreIdが001001から始まるもの）
        上位150位の本を売れ行きの良い本と呼ぶことにします
        （注: これは楽天ブックスにおけるランキングとは一致しません）。
        Latestのページでは最新の売れ行きの良い本をリストします。
        Pick up!のページでは
        最新の売れ行きが良い本の中で100時間前から24時間前の間には売れ行きが良くなかった本をリストします。
        つまり、急に人気が出始めた本がPick up!に表示されます。
        Pick up!の更新日はその本が100時間前以降に初めて現れた時間を表示します。
    </p>
    <p>
        リストが更新されるのはおおよそ2時間おきです。
        プラットフォームの関係でこの更新はこのタイミングで行われないことがあります。
        しばらくこのサイトにアクセスがないときにアクセスすると準備のために少し時間がかかります。
        これはプラットフォームの仕様です。
    </p>

<h5> テクニカルな話 </h5>
    <p>
        GitHubに詳しくは書きます。
        そのうちリンク張ります。
        プラットフォームはHerokuです。
    </p>

    
{{> footer}}
