<table class="table">
    <thead>
    <tr>
        
        <th scope="col"> </th>
        <th scope="col"> Title </th>
        <th scope="col"> Author </th>
        <th scope="col"> Updated at</th>
    </tr>
    </thead>
    <tbody>
    {{#books}}
        <tr>
            <td> <a href={{itemUrl}}> <img src={{imageUrl}}> </a> </td>
            <td> <a href={{itemUrl}}> {{title}} </a> </td>
            <td> {{author}} </td>
            <td> {{createdAt}} </td>
        </tr>
    {{/books}}
    </tbody>
</table>