<table class="table">
    <thead>
    <tr>
        
        <th scope="col"> </th>
        <th scope="col"> タイトル </th>
        <th scope="col"> 著者 </th>
        <th scope="col"> 更新日 </th>
    </tr>
    </thead>
    <tbody>
    {{#books}}
        <tr>
            <td> <a href={{itemUrl}}> <img src={{imageUrl}}> </a> </td>
            <td> <a href={{itemUrl}}> {{title}} </a> </td>
            <td> {{author}} </td>
            <td> {{createdAt}} </td>
        </tr>
    {{/books}}
    </tbody>
</table>