<html>
    <head>
        <title> あ </title>
        <link rel="stylesheet" href="css/bootstrap/bootstrap.css">
    </head>
    <body>
    <div class="m-2"> 
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        {{! <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg> }}
        <span class="fs-4"> 楽天の本で人気が出始めたやつをピックアップするやつ</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page"> Pick up!</a></li>
        <li class="nav-item"><a href="/latest" class="nav-link"> Latest </a></li>
        <li class="nav-item"><a href="/about" class="nav-link"> About </a></li>
        <li class="nav-item"><a href="/contact" class="nav-link"> Contact </a></li>
      </ul>
    </header>
    
    